body {
    font: 16px/1.6 'Cabin', sans-serif;
    font-family: Arial, sans-serif;
    background-color: rgba(231, 226, 216, 1);
    margin: 0;
  }

  .soup-main-container {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
  }

.italic {
  font-style: italic;  
}

.white {
  color: white;
}
 
/* ----------------------------------------------------------------------------------- */
/*                                   Soup Header                                       */
/* ----------------------------------------------------------------------------------- */

  .soup-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, rgba(177, 184, 156, 1), rgba(50, 73, 60, 1));
    height: 60px;
    position: relative;
  }

  
  .soup-header-image,
  .soup-header-link {
    display: block;
    padding-bottom: 15px;
  }
  
  .soup-header-container a,
  .soup-header-container a:hover,
  .soup-header-container a:active {
    color: rgba(177, 184, 156, 1);
    text-decoration: none;
  }

  .soup-header-image,
  .soup-header-button-image {
    height: 55px;
    margin-right: 25px;
  }
  
  .soup-header-link {
    padding: 10px;
  }
  
  .soup-menu-button {
    background: none; 
    border: 0px solid rgba(50, 73, 60, 1);
    border-radius: 4px;
    display: flex;
    margin: 15px;
    padding: 10px;
  }

  
  @media (max-width: 768px) {
    .soup-nav {
      position: absolute;
      background-image: linear-gradient(to bottom, rgba(177, 184, 156, 1), rgba(50, 73, 60, 1));
      width: 100%;
      top: 60px;
      z-index: 100;
      display: none;
    }

    .soup-nav.is-showing {
      display: block;
    }

    .soup-header-image {
      display: none;
    }
  }
  
  @media (min-width: 769px) {
    .soup-menu-button {
      display: none;
    }
  
    .soup-nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  
    .nav-left, .nav-right {
      display: flex;
    }

    .soup-header-button-image {
      display: none;
    }
    
  }
/* ----------------------------------------------------------------------------------- */
/*                                  Soup Hero Container                                */
/* ----------------------------------------------------------------------------------- */

  .hero-container {
    background-image: url(images/Landscape_Shots/IMG_2440.JPG);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: rgb(89, 103, 48);
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
  }
  
  .hero-title {
    padding: 10px;
    margin: 25px;
  }
  
  .btn-cta {
    background-color: rgb(191, 89, 31);
    border: 1px solid rgb(89, 103, 48, .8);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 5px 20px 0;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  /* Mobile-specific styles */
  @media (max-width: 768px) {
    .hero-container {
      height: 400px;
    }
  
    .hero-title {
      font-size: 25px;
      margin-top: 50px;
    }
  
    .cta-search {
      display: none;
    }
  
    .cta-mobile {
      display: block;
      width: 50%;
      margin-top: 100px;
      margin-left: 90px;
    }
  
    .hero-container p {
      margin-left: 20px;
      margin-top: -20px;
    }
  }
  
  /* Desktop-specific styles */
  @media (min-width: 769px) {
    .hero-container {
      height: 600px;
      background-position: 0px;
    }
    .hero-container p {
      padding: 25px;
      font-size: 22px;
      margin: 10px;
    }
  
    .italic {
      font-size: 25px;
    }
  
    .cta-search {
      display: block;
      width: 200px;
      margin-left: 70px;
    }
  
    .cta-mobile {
      display: none;
    }
  }
  
/* ----------------------------------------------------------------------------------- */
/*                           Soup Container (Team/Sonser)                              */
/* ----------------------------------------------------------------------------------- */

/* ------------------------ */
/*        Team List         */
/* ------------------------ */

.soup-team-section h1 {
  text-align: center;
  background-color: rgb(146, 70, 25);
}

.soup-two-boxes-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  /* background-color: pink; */
}

.soup-team-container {
  height: 700px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: pink; */
}

.scroll-wrapper {
  height: 800px;
  overflow-y: scroll;
  margin: 0 20px;
}

/* Mobile-specific styles */
@media screen and (min-width: 769px) {
  .soup-two-boxes-container {
    grid-template-columns: 1fr 1fr;
    margin: 0 30px; /* Change this if needed*/
  }
}
/* the 'and' is a "reserved keyword" used in CSS to combine multiple conditions */

.soup-fact-indiv,
.soup-fact-indiv h3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.soup-fact-indiv img {
  width: 70%;
  border-radius: 40px;
}

/* ------------------------ */
/*       Soup-onship        */
/* ------------------------ */
.soup-sponsor-box {
  /* background-color: black; */
  display: flex;
  margin: 10px 0 10px 0;
}

.sponsor-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, .8);
}

.sponsor-container {
  position: relative;
  border: 1px solid #cfd7de;
  background-image: url('images/Riders/Squad_Photo/IMG_3113.jpeg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100%;
  color: white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px; */
}

.soup-cta-header h2 {
  text-align: center;
}

.soup-cta-header,
.soup-mid-info,
.btn-cta,
.soup-blurb {
  position: relative;
  z-index: 2;
}

.soup-info-container {
  padding: 20px;
}

.soup-mid-info li,
.soup-mid-info p {
  padding: 5px;
  margin-top: 10px;
}

.soup-blurb {
  text-align: center;
}
.soup-blurb a {
  text-decoration: none;
  color: rgba(50, 73, 60, 1);
  font-weight: bold;
}

/* ----------------------------------------------------------------------------------- */
/*                                  Soup Product Container                             */
/* ----------------------------------------------------------------------------------- */
  
/* ------------------------ */
/*     Product Intro        */
/* ------------------------ */

.soup-product-container {
  background-position: center center;
  background-size: cover;
  transition: background-image 2s ease;
  height: 900px;
  font-family: 'Shadows Into Light', cursive;
  color: rgba(50, 73, 60);
  font-size: 20px;
}

.soup-product-container p {
  text-align: center;
}

.soup-product-container a {
  text-decoration: none;
  color: rgb(149, 97, 0);
}

.mobile-wheel {
  display: none;
}

/* Desktop-specific styles */
@media (min-width: 769px) {
  .soup-product-mobile-container {
    display: none;
  }

  .soup-product-quote-container { /* Floating Lotus */
  background-color: rgba(177, 184, 156, .8);
  border: 2px solid rgb(207, 215, 222, .7);
  border-radius: 30px;
  position: absolute;
  right: 20px;
  max-width: 25%;
  top: 1480px;
}

.soup-quote span::before {
  color: rgba(50, 73, 60);
  content: "🧡 ";
}

.soup-quote span { 
  display: block;
  color: rgb(149, 97, 0);
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: -25px;
  }

.soup-product-quote-container p {
  padding: 10px;
}
}

/* Mobile-specific styles */
@media (max-width: 768px) {
.soup-product-quote-container,
.collage-wheel {
  display: none;
}

.mobile-wheel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-wheel img {
  max-width: 100%;
  height: auto;
}


.soup-product-mobile-container {
  background-color: rgba(177, 184, 156, .8);
  border: 2px solid rgb(207, 215, 222, .7);
  border-radius: 30px;
  line-height: 20px;
  margin: 15px;
  position: absolute;
  }
}

/* ------------------------ */
/*    Product Collage       */
/* ------------------------ */
.product-collage {
  /* border: 5px solid pink; */
  height: 800px;
  max-width: 100%;
  position: relative;
  margin: 0 20px 0 20px;
}

.product-heading {
  text-align: center;
  background-color: rgba(50, 73, 60);
  color: rgba(177, 184, 156);
}

.collage-wheel {
  position: absolute;
}

.p-photo-1 {
  left: 250px;
  top: 50px;
}
.p-photo-2 {
  left: 50px;
  top: 65px;
}
.p-photo-3 {
  left: 450px;
  top: 100px;
}
.p-photo-4 {
  left: 140px;
  top: 365px;
}
.p-photo-5 {
  left: 360px;
  top: 400px;
}

.video-lux {
  left: 850px;
  top: 15px;
  max-width: 432px;
}
@media (max-width: 1300px) {
  .video-lux {
    display: none;
  }

  .p-photo-1 {
    left: 250px;
    top: 50px;
  }
  .p-photo-2 {
    left: 50px;
    top: 65px;
  }
  .p-photo-3 {
    left: 450px;
    top: 100px;
  }
  .p-photo-4 {
    left: 140px;
    top: 365px;
  }
  .p-photo-5 {
    left: 360px;
    top: 400px;
  }
}

  /* ----------------------------------------------------------------------------------- */
  /*                                  Soup Story Container                               */
  /* ----------------------------------------------------------------------------------- */
   
   .soup-story-container-title {
     background-color: rgb(146, 70, 25);
     padding: 0 25px;
     text-align: center;
   }

   .soup-story-item a {
    text-decoration: none;
    color: black;
   }

/* Mobile-specific styles */
@media (max-width: 768px){
  .soup-story-scroll-container {
    overflow-x: auto;
    width: 100%;
    height: 425px;
  }
  .soup-story-item {
    /* background-color: red; */
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
  }

  .route-image,
  .route-image-1,
  .route-image-2,
  .route-image-3,
  .route-image-4,
  .route-image-5,
  .soup-story-item p {
    display: none;
  }

  .soup-story-item img {
    width: 350px;
    height: 300px;
  }
  .soup-story-item,
  .soup-story-item a {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

} 

/* Desktop-specific styles */
@media (min-width: 769px) {
  .soup-story-scroll-container {
    /* background-color: pink; */
    overflow-x: auto;
    width: 100%;
  }

  .soup-story-item-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    display: flex;
    margin: 20px 20px 30px 30px;
  }

  .soup-story-item {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    position: relative;
    justify-content: flex-start;
  }

  .route-image { /* Complete */
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
    
  }
  .route-image-1 { /* Complete */
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .6;
  }
  .route-image-2 { /* Complete */
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
  }
  .route-image-3 { /* Complete */
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
  }
  .route-image-4 { /* Complete */
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .4;
  }
  .route-image-5 { /* Complete */
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .5;
  }

  .soup-story-item {
    align-items: center;
    flex-direction: column;
  }
}


/* ----------------------------------------------------------------------------------- */
/*                                  Footer Container                                   */
/* ----------------------------------------------------------------------------------- */ 

.foot-container {
  background-image: linear-gradient(to bottom, rgba(177, 184, 156, 1), rgba(50, 73, 60, 1));
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  color: rgba(50, 73, 60);
}

.footer {
  display: grid; /* Use CSS Grid */
  grid-template-columns: 1fr; /* Single column layout by default */
  justify-content: center; /* Center items horizontally */
  /* border: 5px solid black; */
}

.footer-heading {
  color: rgb(146, 70, 25);
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.social-links,
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* Center the list items */
}

.social-link,
.nav-link {
  color: rgba(50, 73, 60);
  text-decoration: none;
}

.newsletter-form {
  display: grid; /* Use CSS Grid */
  grid-template-columns: 1fr auto; /* Input field takes remaining space */
  grid-gap: 10px; /* Gap between input and button */
  justify-content: center; /* Center the form horizontally */
  /* border: 5px solid black; */
}

.newsletter-input {
  padding: 5px;
}

.newsletter-button {
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  color: #333;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  color: rgb(132, 141, 104);
}
.strikeout {
  text-decoration: 2px solid line-through;
}

/* Desktop-specific styles */
@media (min-width: 769px) {
  .footer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Auto-fit columns with minimum width of 250px */
  }
  
  .footer-section {
    /* background-color: green; */
    padding: 20px;
    text-align: center;
  }
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr; /* Single column layout */
    align-items: center;
  }

  .footer-section {
    /* background-color: green; */
    width: 100%;
    /* padding: 20px; */
    text-align: center;
  }
}

/* ----------------------------------------------------------------------------------- */
/*                                  Up Arrow Container                                 */
/* ----------------------------------------------------------------------------------- */

 #scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: rgb(56, 132, 89);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
}

#scrollToTopButton svg {
  display: block;
  margin: auto;
}

#scrollToTopButton.show {
  display: block;
}

/* ----------------------------------------------------------------------------------- */ 
/*                                  Modal Container                                    */
/* ----------------------------------------------------------------------------------- */

/* ------------------------ */
/*     Register Form        */
/* ------------------------ */
  .modal-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 999;
  }
  
  .modal-sign-up,
  .modal-sign-in {
    height: 100%;
    position: absolute;
    transition: background 0.4s;
    width: 100%;
  }
  
  .modal-inner-container {
    box-sizing: border-box;
    max-width: 480px;
    opacity: 0;
    padding: 0 20px;
    position: relative;
    transition: opacity 0.3s;
    width: 100%;
  }
  
  .modal-content {
    background: rgba(50, 73, 60, 1);
    border-radius: 40px;
  }
  
  .modal-close {
    background: rgba(177, 184, 156, 1);
    border-radius: 50%;
    border: 1px solid #cfd7de;
    cursor: pointer;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
  }
  
  .close-icon {
    width: 100%;
    height: 100%;
  }
  
  .modal-container.is-showing {
    visibility: visible;
  }
  
  .is-showing .modal-sign-up {
    background: rgb(0, 0, 0, 0.7);
  }
  
  .is-showing .modal-inner-container {
    opacity: 1;
  }
  
/* ------------------------ */
/*    Sign-In & Sign-Up     */
/* ------------------------ */
  .sign-up-form h2,
  .sign-in-form h2 {
    background-image: linear-gradient(to bottom, rgba(177, 184, 156, 1), rgba(50, 73, 60, 1));
    padding: 10px 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 25px;
  }
  
  .form-fields,
  .preference {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 20px;
    color: rgba(177, 184, 156, 1);
    border-radius: 30px;
  }
  .preference {
    margin-top: 15px;
  }
  
  .form-fields label {
    margin-bottom: 5px;
  }
  
  .form-fields input {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 30px;
  }
  
  .submit-button {
    margin: 10px 0 0;
    background-color: rgb(191, 89, 31);
    color: white;
    border-radius: 30px;
    padding: 10px;

  }

/* ------------------------ */
/*        Weather API       */
/* ------------------------ */
  .weather-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(50, 73, 60, .9);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: none;
    color: rgba(177, 184, 156, 1);
    border-radius: 30px;
  }
  
  .exit-icon {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  

  